body{
   font-family: 'News Cycle', sans-serif;
   overflow: hidden;
}
.contenedor {
    margin: 26px;
}
section.header {
    height: 38px;
}
.contenedor h1 {
    text-align: center;
    font-size: 34px;
}
.btn_list {
    float: right;
    margin-top: 13px;
    z-index: 2;
    position: relative;
}
.btn_list .bt_lidata{
    border-radius: 50%;
    border: solid 1px;
    overflow: hidden;
    padding: 10px;
    color: #15803c;
    cursor: pointer;
    font-family: 'WebComponentsIcons';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    position: relative;
    top: 13px;
}
.conten_editor{
  transition: 1s;
  margin: 0 auto;
  position: relative;
  width: 1000px;
}
.opa{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.53);
    cursor: pointer;
}
section.list_data {
    transition: 1s;
    background: #06F;
    width: 1014px;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -507px;
    bottom: 0;
    opacity: 0;
    z-index: -1;
}
.header .bttool{
	float: right;
	font-family: 'WebComponentsIcons';
}
.cont_tool {
    position: absolute;
    width: 0px;
    height: 100%;
	overflow: hidden;
    background-color: rgb(85, 173, 216);
    top: 0;
    right: 0;
	z-index: 5;
}
.btn_her {
    width: 143px;
    margin: 0 auto;
    position: relative;
}

.b_h {
    width: 38px;
    height: 38px;
    background-color: #fff;
    margin: 10px;
	cursor: pointer;
    text-align: center;
    border-radius: 50%;
    font: 16px/1 WebComponentsIcons;
    font-size: 21px;
    line-height: 35px;
    -webkit-box-shadow: -1px 3px 13px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 3px 13px 1px rgba(0, 0, 0, 0.15);
    box-shadow: -1px 3px 13px 1px rgba(0, 0, 0, 0.15);
}
.cont_log{
	position: absolute;
    top: 0;
    background-color: #55add8;
    width: 1012px;
    height: 600px;
    z-index: 99;
    left: 30%;
    top: 56px;
    margin-left: -250px;
}
.btn-save{
    float: right;
    background-color: #15803c;
    padding: 6px 14px 6px 14px;
    border-radius: 23px;
    margin: 7px;
    color: white;
	cursor: pointer;
}
.disabled {
    opacity: .2;
}
.red{
	color: #ff0202;
}
#count-chars {
    float: left;
    margin: 12px;
}
textarea#message {
    width: 100%;
    height: 82px;
}
.message-alert {
    float: left;
    margin: 11px;
    color: #d63030;
}
